{% extends "manager/base.html" %}
{% block content %}
    <div class="text-center">
        <h1>{{ object.school_name }}</h1>

        <div class="card">
            <div class="card-header">
              <span class="fw-bold">What you want to do?</span>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="{% url 'teacher-create' object.id %}">Add new teacher account</a></li>
              <li class="list-group-item"><a href="{% url 'student-create' object.id %}">Add new student account</a></li>
              <li class="list-group-item"><a href="{% url 'class-create' object.id %}">Add new class</a></li>
              <li class="list-group-item"><a href="{% url 'subject-create' object.id %}">Add new subject</a></li>
              <li class="list-group-item"><a href="#">Create Timetable for Class</a></li>
            </ul>
          </div>
    </div>
{% endblock content %}