{% extends "manager/base.html" %}
{% block content %}
    <div class="text-center">
        <h1>{{ object.school_name }}</h1>

        <div class="card">
            <div class="card-header">
              <span class="fw-bold">What you want to do?</span>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="#">Add new teacher account</a></li>
              <li class="list-group-item"><a href="#">Add new student account</a></li>
              <li class="list-group-item"><a href="#">Add new class</a></li>
            </ul>
          </div>
    </div>
{% endblock content %}