{% extends "manager/base.html" %}
{% block content %}
<h1>Student Timetable</h1>

<div id="timetable"></div>

<script>
    const json_lessons = JSON.parse('{{ lessons|escapejs }}')
    const lessons = []

    lessons.push({
        title: 'Pause',
        startTime: '12:00',
        endTime: '12:30',
        daysOfWeek: [1, 5],
        startRecur: Date('2022-09-13'),
        endRecur: Date('2023-07-28'),
    })

    const fill_lesons = () => {
        json_lessons.forEach(lesson => {
            lessons.push({
                id: lesson.subject,
                title: `${lesson.subject}(${lesson.teacher})`,
                startTime: lesson.timefrom,
                endTime: lesson.timeto,
                daysOfWeek: [lesson.day],
                startRecur: Date('2022-09-13'),
                endRecur: Date('2023-07-28')
            })
        });
    }

    fill_lesons()
    console.log(lessons)

    const calendarEl = document.getElementById('timetable');
    const calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'timeGridWeek',

        headerToolbar: {
            center: 'timeGridWeek,timeGridDay'
        },

        events: lessons
    });
    calendar.render();
</script>
{% endblock content %}